/* || General styles */

* {
    box-sizing: border-box;
    font-family: Inter, Tahoma, sans-serif; /*Inter - main, Tahoma - fallback*/
}

body {
    background-color: #D9D9D9;
    margin: 0;
}

.container--middle {
    max-width: 960px;
    width:100%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
}

section {
    margin-top: 20px;
    width: 100%;
}

footer {
    margin-top: auto;
    height: 100px;

    background-color: #363636;
    width: 100vw;
}

/* || Header */

.header__nav {
    width: 100%;
    display: flex;
    justify-content: left;

    padding: 30px 20px;
    background-color: #363636;
    border-radius: 35px;
}

.header__text h1 {
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 40px;
    text-align: center;
}

.header__nav nav {
    margin: 0px 10px;
}

.header__nav nav a {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

/* || Section */

.section__text {
    text-align: center;
}

/* || Footer */

.footer--container {
    max-width: 960px;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 10px;
}

.footer--container div {
    color: #fff;
}
/* || Authentication */

.auth__form {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 35px;
}

.auth__form--container:not(:last-child)  {
    margin-bottom: 20px;
}

.auth__form--container label {
    display: block;
    margin: 5px 0px;
}

.auth__form--container input {
    max-width: 250px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: gray;
    background-color: #D9D9D9;
    border: none;
}

.auth__form--container input:focus {
    outline: 2px solid #363636;
    background-color: #fff;
}

.auth__form--button {
    text-align: center;
}

.auth__form--container button {
    background-color: #363636;
    color: #fff;
    border-radius: 25px;
    border: none;
    padding: 10px 40px;
}

.auth__form--button button:hover {
    background-color: #555;
    cursor: pointer;
}

.auth__form--registration {
    margin-top: 30px;
}

/* || Home */

.home__section {
    background-color: #fff;
    border-radius: 35px;
}

.home__table {
    width: 100%;
    padding: 0px 30px;
    margin-bottom: 100px;
}

.home__table--row {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr 1fr 120px;
    align-items: center;
    background: #D9D9D9;
    border-radius: 20px;
    margin: 10px 0px;
    height: 50px;
    padding-left: 15px;
}

.home__table--row img {
    width: 25px;
    height: 25px;
}

.home__table--row div {
    font-size: 16px;
    font-weight: 500;
}

.home__table--header {
    background: transparent;
    font-weight: bold;
}

.home__table--button {
    background-color: #363636;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    display: block;
    height: 100%;
    cursor: pointer;
}

.home__table--time div {
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 6px;
    overflow: hidden;
}

.home__table--time div span {
    background-color: white;
    padding: 6px 20px;
}


.home__table--time div button {
    background-color: #363636;
    color: white;
    border: none;
    padding: 6px 10px;
    font-size: 14px;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .home__table--time div span {
        padding: 4px 5px;
    }

    .home__table--time div button {
        padding: 4px 5px;
    }
}

@media only screen and (max-height: 700px) {
    .home__section {
        margin-bottom: 20px;
    }
}

/* || Profile */

.profile__container {
    display: grid;
    grid-template-columns: 250px auto;
    gap: 30px;
    margin-left: 80px;
}

.profile__container--img {
    justify-self: center;
}

.profile__container--img img {
    width: 100%;
    max-width: 250px;
    height: auto;
}

.profile__container--info {
    align-self: center;
    justify-self: left;
}

.profile__container--info div {
    font-size: 18px;
    margin-bottom: 10px;
}

.profile__container--center {
    align-items: center;
    justify-self: center;
    margin-bottom: 40px;
}

.profile__container button {
    font-size: 16px;
    color: #fff;
    background-color: #363636;
    border: none;
    padding: 10px 50px;
    border-radius: 35px;
}

@media only screen and (max-width: 700px) {
    .profile__container {
        grid-template-columns: auto;
        place-items: center;
        margin-left: 0px;
        gap: 20px;
        margin-bottom: 20px;
    }

    .profile__container--info {
        text-align: center;
        justify-self: center;
    }

    .profile__container--center {
        margin-bottom: 0px;
    }
}
